.task {
  width: 91%;
  margin: 0px auto;
  border-radius: 12px;
  height: 67px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(26, 26, 27, 0.5); /* Yarim shaffof qora rang */
  backdrop-filter: blur(15px); /* Orqa fonni xiralashtirish */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Task atrofida engil soyani qo'shish */
  border: 1px solid rgba(255, 255, 255, 0.1); /* Nozik oq chiziq */
}

.task__info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task__text {
  display: flex;
  flex-direction: column;
}

.task__title {
  font-family: 'Monomaniac One', serif;
  font-size: 18px;
  color: white;
}

.task__description {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7); /* Yoqimli oq rang */
}

.task__button {
  font-family: 'Monomaniac One', serif;
  font-size: 16px;
  color: white;
  padding: 0px 24px 5px 24px;
  width: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  background-color: rgba(40, 40, 40, 0.8); /* Tugma uchun shaffof fon */
  backdrop-filter: blur(5px); /* Tugmaning orqa fonini xiralashtirish */
  text-align: center;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1); /* Tugma atrofiga nozik oq chiziq */
}

.task__button:hover {
  background-color: rgba(102, 102, 102, 0.8); /* Tugma hoverda shaffof rang */
}
